<div class="main-content">
    <div class="container-fluid">
        <div class="checkbox col-md-10">
            <span class="label-new">
                <ul class="ngc">
                    <li class="list">

                        <input (change)="changeassignee()" [(ngModel)]="assignee.jyothi" id="name1" class="inp asignee1"
                            type="checkbox"><label class="blue">Jyothi</label>
                    </li>

                    <li class="list ">

                        <input (change)="changeassignee()" [(ngModel)]="assignee.neha" id="name2" class="inp asignee2"
                            type="checkbox" value="neha"><label class="red">Neha</label>
                    </li>

                    <li class="last rinki">
                        <input (change)="changeassignee()" [(ngModel)]="assignee.rinki" id="name3" class="inp asignee3"
                            type="checkbox" value="rinki"><label class="purpul">Rinki</label>
                    </li>
                    <li class="strike">
                        <input (change)="changestrike()" [(ngModel)]="strikes.n" id="strike1" class="inp striker"
                            type="checkbox" value="1"><label class="black">1</label>
                    </li>
                    <li class="strike">
                        <input (change)="changestrike()" [(ngModel)]="strikes.u" id="strike2" class="inp striker"
                            type="checkbox" value="2"><label class="black">2</label>
                    </li>
                    <li class="strike">
                        <input (change)="changestrike()" [(ngModel)]="strikes.su" id="strike3" class="inp striker"
                            type="checkbox" value="3"><label class="black">3</label>
                    </li>
                    <li class="strike" style="font-weight: bold;color: rgb(17, 117, 231);font-size: 13px;">STRIKES
                    </li>
                </ul>
            </span>
        </div>
        <div class="row">

            <div class="col-md-12">
                <button class="btn btn-warning mr-4" (click)="alertsbutton('attended',false,alrtname, 'opened')">Open
                    Alerts</button>
                <button class="btn btn-success mr-4"
                    (click)="alertsbuttonA('attended',true,'resolved',false,alrtname)">Attended</button>
                <button class="btn btn-primary mr-4"
                    (click)="alertsbuttonA('resolved',true,'confirmed',false,alrtname)">Resolved</button>
                <button class="btn btn-danger" (click)="alertsbutton('confirmed',true,alrtname, 'confirmed')">
                    Confirmed</button>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{state}}</h4>
                    </div>
                    <div class="card-body" style="height: 400px;overflow: scroll;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th *ngIf="alertType != 'all' && submitType != 'confirmed'"><input type="checkbox"
                                            [(ngModel)]="checkAll" [checked]="checkAll" (change)="checkAllfn($event)" />
                                    </th>
                                    <th>Alert ID</th>
                                    <th>AssignedTo</th>
                                    <th>No.ofTickets</th>
                                    <th>ProblemType</th>
                                    <th>CreatedDate</th>
                                    <th>Strikes</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <mat-spinner value="50" strokeWidth="6" [diameter]="40" class="spinner"
                                        *ngIf="showSpinner">
                                    </mat-spinner>
                                    <tr
                                        *ngFor="let item of allalerts | filter:'assignedTo':asigne:'alertStrike':strike; let i=index">
                                        <td *ngIf="alertType != 'all' && submitType != 'confirmed'"> <input
                                                type="checkbox" [value]="item._id" [(ngModel)]="item.checked"
                                                [checked]="item.checked" (change)="singleCheckFn($event, item, i)" />
                                        </td>
                                        <td>{{item._id}}</td>
                                        <td>{{item.assignedTo}}</td>
                                        <td>{{item.tickets.length}}</td>
                                        <td>{{item.problemType}}</td>
                                        <td>{{item.createdAt | date}}</td>
                                        <td class="text-primary">{{item.alertStrike}}</td>
                                        <td><button class="showticket" style=
                                            "padding: 5px; border: 3px solid rgb(27, 87, 216);" (click)="action(item)"> Show
                                                Tickets</button></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer border">
                        <div class="col-md-12" *ngIf="popupbutton == 'Attend'">
                            <button class="btn btn-success mr-1" *ngIf="button_disabled == true" (click)="openPopup()"
                                [disabled]="isAttended">
                                {{popupbutton}}</button>
                        </div>
                        <div class="col-md-12" *ngIf="popupbutton == 'Resolve'">
                            <button class="btn btn-success mr-1" *ngIf="button_disabled == true" (click)="openPopup()"
                                [disabled]="isResolved">
                                {{popupbutton}}</button>
                        </div>
                        <div class="col-md-12" *ngIf="popupbutton == 'Confirm'">
                            <button class="btn btn-success mr-1" *ngIf="button_disabled == true" (click)="openPopup()"
                                [disabled]="isConfirmed">
                                {{popupbutton}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" [id]="alertType" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header input-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12" *ngIf="alertType != 'confirmed'">
                    <form>

                        <input type="number" [(ngModel)]="solvedIn" [ngModelOptions]="{standalone: true}"
                            placeholder="Enter time" *ngIf="alertType == 'opened'">


                        <textarea cols="30" rows="3" [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"
                            placeholder="Enter Reason" name="reason" type="text"
                            *ngIf="alertType == 'attended'"></textarea>

                    </form>
                </div>
                <div class="col-md-12 text-center" *ngIf="alertType == 'confirmed' || submitType == 'confirmed'">
                    <p>Are you sure to confirm this ticket?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveToAttend();"
                    [disabled]="!solvedIn" *ngIf="alertType == 'opened'">Yes</button>

                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveToResolve();"
                    [disabled]="!reason" *ngIf="submitType == 'attended' && alertType != 'opened'">Yes</button>

                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveConfirmalert();"
                    *ngIf="alertType == 'confirmed' || submitType == 'confirmed'">Yes</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="preview" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Tickets Preview</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Ticket Details :</b></p>
                <br>
                <div *ngIf="preview">
                    <div class="form-group">
                        <div class="border">
                            <div class="row">
                                <div class="table-responsive" style="height: 200px;overflow: scroll;">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>Name</th>
                                            <th>Mobilenumber</th>
                                            <th>Email</th>
                                            <th>Description</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of preview.tickets; let i=index">
                                                <td>{{item.name}}</td>
                                                <td>{{item.mobileNumber}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- <div class="col-md-5">
                                    <label for="name">Name:</label>
                                </div>
                                <div class="col-md-7">
                                    {{item.name}}
                                </div>
                                <div class="col-md-5">
                                    <label for="mobilenumber">Mobilenumber:</label>
                                </div>
                                <div class="col-md-7">
                                    {{item.mobileNumber}}
                                </div>
                                <div class="col-md-5">
                                    <label for="email">Email:</label>
                                </div>
                                <div class="col-md-7">
                                    {{item.email}}
                                </div>
                                <div class="col-md-5">
                                    <label for="description">Description:</label>
                                </div>
                                <div class="col-md-7">
                                    {{item.description}}
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>