@import "../../assets/css/checkbox.css";
.resolve{
    padding: 6px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 5px;
    margin-left: 4;
}  
.showticket:hover{
 background-color: rgb(5, 105, 235);
 color: white;
 border: none;
 transition: 0.3s;
}

.tickets{
    padding: 3px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 5px;
    margin-left: 4;
}

textarea{
    border:solid 1px #ccc;
    font-size:1.3em; 
    font-family:"";
    color:rgb(0, 8, 8); 
        
    }
textarea:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
    }



.spinner {
        position: fixed;
        z-index: 1031;
        top: 50%;
        left: 50%;
        margin-top:150px;
        transform: translate(-50%, -50%);
      }
