<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>

                    <div class="checkbox col-md-10">
                        <span class="label-new">
                            <ul class="ngc">
                                <li class="list" *ngFor="let item of users">
                                    <input type="checkbox" (change)="changeassignee(item,$event)" class="inp asignee1"
                                        [value]="item">
                                    <label class="blue">{{item}}</label>
                                </li>
                                <li class="strike">
                                    <input (change)="changestrike()" [(ngModel)]="strikes.n" id="strike1"
                                        class="inp striker" type="checkbox" value="1"><label class="black">1</label>
                                </li>
                                <li class="strike">
                                    <input (change)="changestrike()" [(ngModel)]="strikes.u" id="strike2"
                                        class="inp striker" type="checkbox" value="2"><label class="black">2</label>
                                </li>
                                <li class="strike">
                                    <input (change)="changestrike()" [(ngModel)]="strikes.su" id="strike3"
                                        class="inp striker" type="checkbox" value="3"><label class="black">3</label>
                                </li>
                                <li class="strike" style="font-weight: bold;color: rgb(17, 117, 231);font-size: 13px;">
                                    STRIKES</li>
                            </ul>
                        </span>
                    </div>
                </div>

                <div class="card" style="width: 100% !important;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Closed Alerts</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive overflow-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>Alert ID</th>
                                        <th>AssignedTo</th>
                                        <th>No.ofTickets</th>
                                        <th>ProblemType</th>
                                        <th>Created Date</th>
                                        <th>Strikes</th>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let item of confirmdata | filter:'assignedTo':asigne:'alertStrike':strike; let i=index">
                                            <td>{{item._id}}</td>
                                            <td>{{item.assignedTo}}</td>
                                            <td>{{item.tickets.length}}</td>
                                            <td>{{item.problemType}}</td>
                                            <td>{{item.createdAt | date}}</td>
                                            <td class="text-primary">{{item.alertStrike}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>