
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                   <!-- <app-filter></app-filter> -->
                                   
                    <div class="checkbox col-md-10">
                        <span class="label-new">
                        <ul class="ngc">
                            <li class="list">
                                
                                <input (change)="changeassignee()" [(ngModel)]="assignee.jyothi" id="name1" class="inp asignee1" type="checkbox" ><label class="blue">Jyothi</label>
                            </li>
                            <!-- {{selected.jyothi}}{{selected.neha}}{{selected.rinki}} -->
                    
                            <li class="list ">
                                
                                <input (change)="changeassignee()" [(ngModel)]="assignee.neha" id="name2" class="inp asignee2" type="checkbox" value="neha" ><label class="red">Neha</label>
                            </li>
                    
                            <li class="last rinki">
                                <input (change)="changeassignee()"  [(ngModel)]="assignee.rinki" id="name3" class="inp asignee3" type="checkbox" value="rinki" ><label class="purpul">Rinki</label>
                            </li>
                            <li class="strike">
                            <input (change)="changestrike()"  [(ngModel)]="strikes.n" id="strike1" class="inp striker" type="checkbox" value="1" ><label class="black">1</label>
                        </li>
                        <li class="strike">
                            <input (change)="changestrike()"  [(ngModel)]="strikes.u" id="strike2" class="inp striker" type="checkbox" value="2"><label class="black">2</label>
                        </li>
                        <li class="strike">
                        <input (change)="changestrike()"  [(ngModel)]="strikes.su" id="strike3" class="inp striker" type="checkbox" value="3" ><label class="black">3</label>
                    </li>
                    <li  class="strike" style="font-weight: bold;color: rgb(17, 117, 231);font-size: 13px;">STRIKES</li>
                </ul>
                        </span>
                    </div>
                </div>

                <div class="butdiv col-lg-10"><button class="btn btn-success float-right">close all</button>
                    <button class="btn btn-success float-right">close</button></div>
                <div class="card">
                    <div class="card-header card-header-danger mt-20">
                        <h4 class="card-title ">Resolved Tickets</h4>
                        <!-- <button type="submit" (click)="getresolvedtickets()">click me</button> -->
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                    <th>
                                        Ticket ID
                                    </th>
                                    <th>
                                        Assignee
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Resolved Date
                                    </th>
                                    <th>
                                        Strikes
                                    </th>
                                    <tr *ngFor="let customer of users | filter:'Assignee':asigne:'Strikes':strike;let i = index">
                                            <!-- <td scope="row">{{i+1}}</td> -->
                                            <td>{{customer.id}}</td>
                                            <td>{{customer.Assignee}}</td>
                                            <td>{{customer.Description}}</td>
                                            <td>{{customer.date}}</td>
                                            <td class="text-primary">{{customer.Strikes}}</td>
                                     </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>