<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Resolved Tickets</h4>
                        <!-- <button type="submit" (click)="getresolvedtickets()">click me</button> -->
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Ticket ID</th>
                                    <th>Assignee</th>
                                    <th>Description</th>
                                    <th>Resolved Date</th>
                                    <th>Strikes</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of resolvedtickets; let i=index">
                                        <td>{{item._id}}</td>
                                        <td>{{item.assignee}}</td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.createdAt | date}}</td>
                                        <td class="text-primary">{{item.strikes}}</td>
                                        <td><button class=" btn-primary close-size" (click)="closepopup(item._id)">
                                                Close</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header input-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Are you sure to close this ticket?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="closed(selected);">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>