<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="checkbox col-md-10">
                        <span class="label-new">
                            <ul class="ngc">
                                <li class="list">

                                    <input (change)="changeassignee()" [(ngModel)]="assignee.jyothi" id="name1"
                                        class="inp asignee1" type="checkbox"><label class="blue">Jyothi</label>
                                </li>

                                <li class="list ">

                                    <input (change)="changeassignee()" [(ngModel)]="assignee.neha" id="name2"
                                        class="inp asignee2" type="checkbox" value="neha"><label
                                        class="red">Neha</label>
                                </li>

                                <li class="last rinki">
                                    <input (change)="changeassignee()" [(ngModel)]="assignee.rinki" id="name3"
                                        class="inp asignee3" type="checkbox" value="rinki"><label
                                        class="purpul">Rinki</label>
                                </li>
                                <li class="strike">
                                    <input (change)="changestrike()" [(ngModel)]="strikes.n" id="strike1"
                                        class="inp striker" type="checkbox" value="1"><label class="black">1</label>
                                </li>
                                <li class="strike">
                                    <input (change)="changestrike()" [(ngModel)]="strikes.u" id="strike2"
                                        class="inp striker" type="checkbox" value="2"><label class="black">2</label>
                                </li>
                                <li class="strike">
                                    <input (change)="changestrike()" [(ngModel)]="strikes.su" id="strike3"
                                        class="inp striker" type="checkbox" value="3"><label class="black">3</label>
                                </li>
                                <li class="strike" style="font-weight: bold;color: rgb(17, 117, 231);font-size: 13px;">
                                    STRIKES</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="card" style="width:100% !important">
                    <div class="card-header card-header-danger mt-20">
                        <h4 class="card-title ">Resolved Tickets</h4>
                    </div>
                    <div class="card-body" style="height: 400px;overflow: scroll;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th><input type="checkbox" (change)="checkAllfn($event)" [(ngModel)]="checkAll"
                                            [checked]="checkAll" /></th>
                                    <th>Ticket ID</th>
                                    <th>Assignee</th>
                                    <th>ProblemType</th>
                                    <th>Description</th>
                                    <th>ResolvedDate</th>
                                    <th>Strikes</th>
                                    <th>UserName</th>
                                    <th>UserMobile</th>
                                    <th>UserMail</th>
                                </thead>
                                <tbody>
                                    <mat-spinner value="50" strokeWidth="6" [diameter]="40" class="spinner "
                                        *ngIf="showSpinner">
                                        </mat-spinner>

                                    <tr
                                        *ngFor="let item of resolvedtickets  | filter:'assignee':asigne:'strikes':strike; let i=index">
                                        <td> <input type="checkbox" [(ngModel)]="item.checked" [checked]="item.checked"
                                                (change)="checkSingle(item, i, $event)" />
                                    
                                        </td>
                                        <td>{{item._id}}</td>
                                        <td>{{item.assignee}}</td>
                                        <td>{{item.problemtype}}</td>
                                        <td width="20%">{{item.description}}</td>
                                        <td>{{item.createdAt | date}}</td>
                                        <td class="text-primary">{{item.strikes}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.mobileNumber}}</td>
                                        <td>{{item.email}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success mr-4" (click)="closepopup()"> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal " id="popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you sure to close this ticket?</p>
                <form [formGroup]="popupForm">
                        <div class="col-md-12 ">
                            <mat-form-field name="problem" class="example-full-width ">
                                <textarea matInput formControlName="description"
                                    placeholder="Exlain why the probelm arises" name="description"
                                    type="description"></textarea>
                            </mat-form-field>


                        </div>
                        
                    <div class="box col-md-12">
                        <label for="problemtype" class="label">Solved By:</label>&nbsp;
                        <select name="problemType" formControlName="solvedby" class="select">
                            <option value="" name="" disabled selected>select a Person</option>
                            <option value="jyothi">Jyothi</option> 
                            <option value="neha">Neha</option>
                            <option value="rinki">Rinki</option> 
                        </select>
                        <!-- <mat-form-field>
                            <mat-label>Select Assignee</mat-label>
                            <mat-select name="assignee" formControlName="assignee">
                                <mat-option value="jyothi">jyothi</mat-option>
                                <mat-option value="rinki">rinki</mat-option>
                                <mat-option value="neha">neha</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="closed();">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
