<style>
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Raise Ticket</h4>
                        <p class="card-category">raise new ticket here</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" formControlName="username" placeholder="Name"
                                            name="name" class="inp">
                                    </mat-form-field>
                                    <span class="alert" *ngIf="f.username.touched && f.username.errors?.required">
                                        Username is required</span>

                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" formControlName="mobilenumber"
                                            placeholder="Mobile Number" name="mobilenumber">
                                    </mat-form-field>
                                    <span class="alert"
                                        *ngIf="f.mobilenumber.touched && f.mobilenumber.errors?.required">
                                        mobilenumber is required</span>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" formControlName="email" name="email"
                                            type="email">
                                    </mat-form-field>
                                    <span class="alert" *ngIf="f.email.touched && f.email.errors?.required">
                                        email is required</span>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Select Probelm Type</mat-label>
                                        <mat-select name="problemType" formControlName="problemtype">
                                            <mat-option value="login">Login</mat-option>
                                            <mat-option value="registration">Registration</mat-option>
                                            <mat-option value="course">Course not enabled</mat-option>
                                            <mat-option value="buffering">Video buffering</mat-option>
                                            <mat-option value="other">Other</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="col-md-6 ">
                                    <mat-form-field>
                                        <mat-label>Select Assignee</mat-label>
                                        <mat-select name="assignee" formControlName="assignee">
                                            <mat-option value="jyothi">jyothi</mat-option>
                                            <mat-option value="rinki">rinki</mat-option>
                                            <mat-option value="neha">neha</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-12 ">
                                    <label class="label">Problem description</label>
                                    <mat-form-field name="problem" class="example-full-width ">
                                        <textarea matInput formControlName="description"
                                            placeholder="Exlain why the probelm arises" name="description"
                                            type="description"></textarea>
                                    </mat-form-field>
                                    <span class="alert" *ngIf="f.description.touched && f.description.errors?.required">
                                        description is required</span>


                                </div>
                            </div>
                            <button mat-raised-button type="submit" (click)="postticket()"
                                [disabled]="!profileForm.valid" class="btn btn-danger pull-right">
                                <span *ngIf="loading_spinner">Creating
                                    Ticket...</span>
                                <span *ngIf="!loading_spinner">Create
                                    Ticket</span>
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width:500px">
                    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                        [options]="chartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                        [oneToOne]="oneToOneFlag" [runOutsideAngular]="runOutsideAngularFlag"
                        style="width: 100%; height: 400px; display: block;">
                    </highcharts-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width:500px">
                    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                        [options]="AlertchartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                        [oneToOne]="oneToOneFlag" [runOutsideAngular]="runOutsideAngularFlag"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
    </div>
</div>