<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Closed Tickets</h4>
                        <!-- <button type="submit" (click)="getclosedtickets()">click me</button> -->
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Ticket ID</th>
                                    <th>Assignee</th>
                                    <th>Description</th>
                                    <th>Closed Date</th>
                                    <th>Strikes</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of closedtickets; let i=index">
                                        <td>{{item._id}}</td>
                                        <td>{{item.assignee}}</td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.createdAt | date}}</td>
                                        <td class="text-primary">{{item.strikes}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>