<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <app-filter></app-filter>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Closed Tickets</h4>
                        <!-- <button type="submit" (click)="getclosedtickets()">click me</button> -->
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Ticket ID
                                    </th>
                                    <th>
                                        Assignee
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Closed Date
                                    </th>
                                    <th>
                                        Strikes
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            video35435
                                        </td>
                                        <td>
                                            Rinki
                                        </td>
                                        <td>
                                            video issue
                                        </td>
                                        <td>
                                            18/12/2020
                                        </td>
                                        <td class="text-primary">
                                            6
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>