.input-color{
    background: linear-gradient(60deg, #ef5350, #e53935);
}
.resolve{
    padding: 5px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 5px;
}  
/* <<<<<<< HEAD */
.list {
    float: left;
    /* margin-left:10px; */
    list-style-type:none;
    font-size:large;
    
}
.inp{
    margin-right: 10px;
    margin-left:10px;
}
.last{
    list-style-type:none;
}
label{
    font-weight:bold;
}
.asignee1{
    border: blue !important;
    outline:1px solid blue;
}

.asignee2{
    outline: 2px solid red;
}
.asignee3{
    outline:1px solid rgb(2, 155, 23);
}
.blue{
    color:blue;   
}
.red{
    color: red;
    /* font-weight: bold; */
}
.purpul{
    color: rgb(7, 241, 19)
}
.strike{
    float: right;
     margin-top:-28px;
    list-style-type:none;
}
.checkbox{
    /* border:1px solid red; */
    /* width:78%; */
    height:auto;
    justify-content: space-between;
    background-color: #EEEEEE;
    margin-left:-30px ;
}
.black{
    color: rgb(17, 117, 231);
}
.striker{
    outline: 1px solid rgb(17, 117, 231);
}
.butdiv{
    /* border:1px solid red; */
    margin-left:-17px ;
}
/* ======= */
.input-color{
    background: linear-gradient(60deg, #ef5350, #e53935);
}
.close-size{
    padding: 3px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 5px;
}  
textarea{
    
border:solid 1px #ccc;
font-size:1.3em; 
font-family:"";
color:rgb(133, 192, 189); 
    
}
textarea:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
p{
    color:rgb(255, 102, 0);
    font-size:1.3em;
    font-weight: bold;
}
select{
    color:rgb(1, 238, 226); 
}
select:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}