<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">All Tickets</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Ticket ID
                                    </th>
                                    <th>
                                        Assignee
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Remaining Time
                                    </th>
                                    <th>
                                        Strikes
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            log35435
                                        </td>
                                        <td>
                                            jyothi
                                        </td>
                                        <td>
                                            login issue
                                        </td>
                                        <td>
                                            09/12/2020
                                        </td>
                                        <td>
                                            5:00pm
                                        </td>
                                        <td class="text-primary">
                                            5
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>